[submodule "CalibrateMPU6050"]
	path = CalibrateMPU6050
	url = https://github.com/kkpoon/CalibrateMPU6050
[submodule "Pulse400"]
	path = Pulse400
	url = https://github.com/tinkerspy/Pulse400.git
[submodule "lib/Pulse400"]
	path = lib/Pulse400
	url = https://github.com/tinkerspy/Pulse400.git
